@using netcore.Models.Invent
@inject netcore.Data.ApplicationDbContext Context
@{
    ViewData["Title"] = "Home Index";
    Layout = "_AdminlteNetcore";

    int po = Context.PurchaseOrder.Count();
    int so = Context.SalesOrder.Count();
    int shipment = Context.Shipment.Count();
    int receive = Context.Receiving.Count();

    List<VMStock> stocks = new List<VMStock>();
    List<Product> products = new List<Product>();
    products = Context.Product.ToList();
    foreach (var item in products)
    {
        VMStock stock = new VMStock();
        stock.Product = item.productCode;
        stock.QtyPO = Context.PurchaseOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qty);
        stock.QtyReceiving = Context.ReceivingLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qtyReceive);
        stock.QtySO = Context.SalesOrderLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qty);
        stock.QtyShipment = Context.ShipmentLine.Where(x => x.productId.Equals(item.productId)).Sum(x => x.qtyShipment);
        stock.QtyOnhand = stock.QtyReceiving - stock.QtyShipment;

        stocks.Add(stock);
    }
}



<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">

    <!-- Main content -->
    <section class="content">

        <div class="row">
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-aqua">
                    <div class="inner">
                        <h3>@po</h3>
                        <p>Purchase Orders</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-file-text"></i>
                    </div>
                    <a href="@Url.Action("Index", "PurchaseOrder")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-green">
                    <div class="inner">
                        <h3>@so<sup style="font-size: 20px"></sup></h3>
                        <p>Sales Orders</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-cart-plus"></i>
                    </div>
                    <a href="@Url.Action("Index", "SalesOrder")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-yellow">
                    <div class="inner">
                        <h3>@receive</h3>
                        <p>Receiving</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-truck"></i>
                    </div>
                    <a href="@Url.Action("Index", "Receiving")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-xs-6">
                <!-- small box -->
                <div class="small-box bg-red">
                    <div class="inner">
                        <h3>@shipment</h3>
                        <p>Shipment</p>
                    </div>
                    <div class="icon">
                        <i class="fa fa-plane"></i>
                    </div>
                    <a href="@Url.Action("Index", "Shipment")" class="small-box-footer">
                        More info <i class="fa fa-arrow-circle-right"></i>
                    </a>
                </div>
            </div>
            <!-- ./col -->
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="box box-warning">
                    <div class="box-header with-border">
                        <h3 class="box-title">Stocks Realtime</h3>
                        <div class="box-tools pull-right">
                            <div class="has-feedback">
                                <input type="text" id="mainSearch" class="form-control input-sm" placeholder="Search...">
                                <span class="glyphicon glyphicon-search form-control-feedback"></span>
                            </div>
                        </div>
                        <!-- /.box-tools -->
                    </div>
                    <div class="box-body no-padding">
                        <div class="table-responsive mailbox-messages">
                            <table class="table table-hover table-striped" style="width:100%">
                                <thead>
                                    <tr>
                                        <th><i class="fa fa-tags"></i> Product</th>
                                        <th><i class="fa fa-file-text"></i> Qty Purchase</th>
                                        <th><i class="fa fa-truck"></i> Qty Receiving</th>
                                        <th><i class="fa fa-cart-plus"></i> Qty Sales</th>
                                        <th><i class="fa fa-plane"></i> Qty Shipment</th>
                                        <th class="text-aqua"><i class="fa fa-check-circle"></i> Qty On Hand</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in stocks)
                                    {
                                        <tr>

                                            <td>@item.Product</td>
                                            <td>@item.QtyPO</td>
                                            <td>@item.QtyReceiving</td>
                                            <td>@item.QtySO</td>
                                            <td>@item.QtyShipment</td>
                                            <td>@item.QtyOnhand</td>

                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </section>
    <!-- /.content -->
</div>
<!-- /.content-wrapper -->


@section Styles{

}


@section Scripts{
    <script>
        $(document).ready(function () {
            var mainTable;

            mainTable = $('.table').DataTable({
                "lengthChange": false,
                "info": false,
                "searching": true,
                "dom": 'lrtip',
                "scrollX": false
            });

            $('#mainSearch').keyup(function () {
                mainTable.search($(this).val()).draw();
            })

        });


    </script>
}


