@model IEnumerable<netcore.Models.Invent.SalesOrder>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminlteNetcoreIndex.cshtml";
}


<table class="table table-hover table-striped" style="width:100%">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.salesOrderNumber)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.top)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.soDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deliveryDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.deliveryAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.referenceNumberInternal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.referenceNumberExternal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.picInternal)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.picCustomer)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.salesOrderStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalDiscountAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.totalOrderAmount)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.salesShipmentNumber)
                </th>
            <th>
                @Html.DisplayNameFor(model => model.customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.salesOrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.top)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.soDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.deliveryAddress)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.referenceNumberInternal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.referenceNumberExternal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picInternal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.picCustomer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesOrderStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalDiscountAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.totalOrderAmount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.salesShipmentNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.customer.customerId)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.salesOrderId"><i class="fa fa-pencil"></i></a> |
                <a asp-action="Details" asp-route-id="@item.salesOrderId"><i class="fa fa-list"></i></a> |
                <a asp-action="Delete" asp-route-id="@item.salesOrderId"><i class="fa fa-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>
